:root{
  --main-color: green;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}
.admin_body{
  display: flex;
  background-color: #f0f0f0;
}
.admin_sidebar{
  width: 25%;
}
.admin_dashboard{
  width:75%;
  overflow-y: auto;
  height: 89vh;
}
.admin_sidebar{
  margin-top: 1%;
  height: 100%;
}
.sidebar-menu ul li{
  margin-top: 35px;
}
.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
 }
 .sidebar-brand img{
  width: 40px;
  height: auto; 
 }

 .sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.sidebar-menu{
  margin-top: 1rem;

}
.sidebar-menu a{
  padding-left: 1rem;
  display: block;
  color: green;
  font-size: 1.1rem;
  text-decoration: none;
}
.sidebar-menu a.active  {
  background: green;
  padding-top: 1rem;
  font-size: 20px;
  padding-bottom: 1rem;
  color: white;
  border-radius: 30px 30px 30px 30px;
}

.sidebar-menu a span:first-child{
  font-size: 1.5rem;
  padding-right: 1rem;
}


.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: .5rem;
}


.back_button{
  padding-top: 60px;
}

/*Main*/

.admin_header{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 300px;
  width: calc(100% - 300px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}


.admin_header h2{
  color:#222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.user_wrapper{
  display: flex;
  align-items: center;
}
.user_wrapper img{
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
}

.user_wrapper h4 {
  font-size: 20px;
}
.user_wrapper h5 {
  font-size: 10px;
  color: var(--text-grey);
}

.user_main{
  padding: 2rem 1.5rem;
  background: #f0f0f0;
  min-height: calc(100vh - 90px);
}
.user_main h1{
  font-size: 17px;
  margin-bottom: 20px;
}
.admin_cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
  margin: 30px;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}
.card-single div:last-child{
  font-size: 3rem;
  color: var(--main-color);
}
.pagination{
  z-index: 0;
}



.admin_card{
  background: #fff;
  border-radius: 5px;
}

.accounts_table {
  border-collapse: collapse
}

.card-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header h4{
  font-size: 17px;
}
.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .7rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
}


.admin_recent-grid h3{
  font-size: 20px;
}
.accounts_table thead tr{
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

.accounts_table thead td {
  font-weight: 700;
}

.accounts_table td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
}

.admin_table-responsive{
  width: 100%;
  overflow-x: auto;
}

.account_transaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
} 

.account_info{
  display: flex;
  align-items: center;
}

.account_info img {
  border-radius: 50%;
  margin-right: .5rem;
}

.account_info h4{
  font-size: .7rem;
  font-weight: 700;
  color: #222;
}

.account_info small {
  font-weight: 600;
  color: var(--text-grey);
}

.account_contact span{
  font-size: 1rem;
  display: inline-block;
  margin-left: .5rem;
  color: var(--main-color);
}


@media screen and (max-width: 1200px) {
  .sidebar{
    width: 100px;
  }
  
  .sidebar .sidebar-brand h1,
  .sidebar li{
    padding-left: 1rem;
    text-align: center;
  }
  
  .sidebar li a{
    padding-left: 0rem;
  }
  
  .sidebar .sidebar-brand h1 span:last-child,
  .sidebar li a span:last-child{
    display: none;
  }
  
  .user_content{
    margin-left: 100px;
  }
  
  .user_content .admin_header{
    width: calc(100% - 100px);
    left: 100px;
  }
  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 300px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1,
  #nav-toggle:checked + .sidebar li{
    padding-left: 2rem;
    text-align: left;
  }
  
  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }
  
  #nav-toggle:checked ~ .user_content{
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 960px) {
 
  .admin_cards{
    grid-template-columns: repeat(3,1fr);
  }
  .admin_recent-grid{
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 768px) {
 
  .admin_cards{
    grid-template-columns: repeat(2,1fr);
  }
  .admin_recent-grid{
    grid-template-columns: 100%;
  }
  .sidebar{
    left: -100% !important;
  }

  .admin_header h3{
    display: flex;
    align-items: center;

  }
  .admin_header h3 label{
    display: inline-block; 
    background: var(--main-color);
    padding-right: 0rem;
    margin-right: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .admin_header h3 span {
    display: flex;
    padding-right: 0rem;
  }

  .admin_header h3{
    font-size: 1.1rem;
  }

  .user_content{
    width: 100%;
    margin-left: 0rem;
  }
  .admin_header{
    width: 100% !important;
    left: 0 !important;
  }
  #nav-toggle:checked + .sidebar{
    left: 0 !important;
    z-index: 100;
    width: 300px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand h1,
  #nav-toggle:checked + .sidebar li{
    padding-left: 2rem;
    text-align: left;
  }
  
  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }
  
  #nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }
  
  #nav-toggle:checked ~ .user_content{
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 560px){
  .admin_cards{
    grid-template-columns: 100%;
  }
  .admin_header .user_wrapper h4{
    font-size: .8rem;
  }
}