.vehicle_main{
    background: #f0f0f0;
    min-height: calc(100vh - 900px);
    display: flex;
  justify-content: center;
}
.vehicle_slots{
    width: 80rem;
}
.vehicle_table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.vehicle_table th {
  text-align: center;
  background-color: #04AA6D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.vehicle_table thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }
  
  .vehicle_table thead td {
    font-weight: 700;
  }
  
  .vehicle_table td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
    text-align: center;
  }

  .vehicle-decision span{
    padding-right: 1rem;
  }
  .car_inputs{
    display: flex;
    flex-direction: row;
    margin: 15px;
  }
  .car_paginationBtns{
    margin: 20px;
    display: flex;
    justify-content: center;
  }
 