.accounts_main{
  background: #f0f0f0;
  display: flex;
}
.acc_loader{
  display: flex;
  position: absolute;
  top: 500px;
}
.accounts_slots{
  width: 1200px;
  margin-left: 20px;
  
}
.account_table{
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}
.account_table th {
  text-align: center;
  background-color: #04AA6D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.account_table thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
  }
  .account_table thead td {
    font-weight: 700;
  }
  
  .account_table td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
    text-align: center;
  }

  .pending-decision span{
    padding-right: 1rem;
  }

  .acc_paginationBtns{
    margin: 20px;
    display: flex;
    justify-content: center;
  }
 
  .acc_inputs{
    display: flex;
    flex-direction: row;
    margin: 15px;
  }
  .acc_inputs a {
    background-color: #306754;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  margin-left: 20px; 
  }
  .acc_editAcc{
    color: white;
  }
  .acc_btns{
    display: flex;
    flex-direction: row;
  }
  .acc_btns a{
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
  }
  .acc_modalContainer{
    height: 100%;
    width: 100%;
    margin-top: 70px;
    outline: none;
  }
  .acc_xButton{
    
  }
  .acc_modal{
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    margin: auto;
    background-color: rgba(169, 252, 190, 0.8);
    padding: 30px;
    overflow-y: scroll;
    z-index: auto;
  }
  .acc_input-field , form .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
  }
  .acc_input-field input,
  .acc_input-field select{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
  }
  .acc_input-field select{
    -webkit-appearance: menulist-button;
    
  }
  .acc_input-field  input:focus,
  .acc_input-field  select:focus{
    border: 1px solid #1DA1F2;
  }
  .acc_input-field .acc_label, span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .acc_input-field .acc_label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
  }
  .acc_input-field span.show{
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
  }
  .acc_input-field input:valid ~ span.show{
    visibility: visible;
  }
  .acc_input-field input:focus ~ .acc_label,
  .acc_input-field input:valid ~ .acc_label,
  .acc_input-field select:valid ~ .acc_label,
  .acc_input-field select:focus ~ .acc_label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: green;
  }

  .acc_modalContainer{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    outline: none;
  }

  .acc_addbutton{
    position: relative;
    left: 350px;
}
.acc_modal{
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 500px;
  margin: auto;
  background-color: rgba(169, 252, 190, 0.8);
  padding: 30px;
  overflow-y: scroll;
}
.acc_form{
  width: 100%;
  margin: auto;
}

.accounts-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.accounts_table{
  background-color: rgba(169, 252, 190, 0.8);
}
.accounts_form{
  
}
.acc_paginationBtns{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.card-header{
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.accounts_table th{
  text-align: center;
  background-color: #04AA6D;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .9rem;
} 

.accounts_table thead tr{
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
.accounts_table thead td {
  font-weight: 700;
}

.accounts_table td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;
  text-align: center;
}

.genButton{
  background-color: rgb(0, 109, 27);  
  border-radius: 5px;
  color: white;
  padding: .5em;
  margin-right: 10px;
}
.accounts-charts{
  height: 500px;
}
.accounts-charts .chartMenu {
  width: 88vw;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 400px;
}

.cat_select{
  width: 240px;
  height: 50px;
  font-size: 15px
}.datePicker{
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.account_inputs{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.account_inputs .cat_select,
.account_inputs .searchbar,
.account_inputs button{
  margin-left: 20px;
  margin-right: 20px;
}
.excelBtn{
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 240px;
}
.accI_horizontal{
  display: flex;
}
.account_inputs h4{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.searchbar{
  height: 50px;
  width: 240px;
}

@media only screen and (max-width: 1100px) {
  .genButton{
    font-size: 14px;
    margin-top: 5px;
  }
  .cat_select{
    width: 200px;
  }
  .datePicker{
    width: 200px;
  }
  .excelBtn{
    width: 200px;
  }
  .searchbar{
    width: 200px;
  }
  .account_inputs h4{
    font-size: 16px;
  }
  .accounts_table{
    overflow-x: auto;
    height: 80vw;
  }
}
@media only screen and (max-width: 980px) {
  .accounts_table{
    overflow-x: auto;
  }
  .account_inputs{
    margin-left: 40px;

    margin-bottom: 20px;
  }
  .accounts-charts{
    height: 400px;
  }
  .accounts-charts .chartMenu {
    width: 95vw;
    height: 300px;

  }
  .genButton{
    font-size: 14px;
    margin-top: 5px;
  }
  .account_inputs{
    width: 70vw;
    height: 200px;
    flex-direction: column;
  }
  .cat_select{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;    
  }
  .excelBtn{
    width: 100%; 
  }
  .datePicker{
    width: 100%;
  }
  .searchbar{
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 650px) {

  .account_inputs h4{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 15px;
  }
  .datePicker{
    height: 50px;
    width: 170px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .cat_select{
    width: 100%;
  }
  .excelBtn{
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .account_inputs{
    margin-left: 10px;
  }
  .datePicker{
    height: 50px;
    width: 130px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .cat_select{
    width: 110%;
  }
  .excelBtn{
    width: 110%;
  }
  .searchbar{
    width: 110%;
  }
  .accounts-charts{
    height: 400px;
  }
  .accounts-charts .chartMenu {
    width: 95vw;
    height: 300px;
  }
}